---
const pageTitle = "Home Page";
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import Hamburger from "../components/Hamburger.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Hamburger />
    <Navigation />
    <h1>My astro site</h1>
    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
